function AITankSecondWave.new 1
push constant 13
call Memory.alloc 1
pop pointer 0
call BattleCityGame.get 0
pop local 0
push constant 1
neg
pop this 0
push constant 1
neg
pop this 1
push constant 16
pop this 2
push local 0
call BattleCityGame.getBrickRenderer 1
pop this 6
push local 0
call BattleCityGame.getBulletsRegister 1
pop this 12
push constant 0
pop this 3
push constant 0
pop this 7
push constant 1
neg
pop this 8
push constant 1
neg
pop this 9
push constant 3
pop this 10
push this 10
pop this 11
push constant 0
pop this 4
push constant 1
pop this 5
push pointer 0
return
function AITankSecondWave.verticalBehaviour 0
push constant 0
return
function AITankSecondWave.horizontalBehaviour 0
push constant 1
return
function AITankSecondWave.startLeftDir 0
push constant 0
return
function AITankSecondWave.startRightDir 0
push constant 1
return
function AITankSecondWave.startUpDir 0
push constant 0
return
function AITankSecondWave.startDownDir 0
push constant 1
return
function AITankSecondWave.drawTankUp 1
push argument 0
pop pointer 0
push this 0
push this 1
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3697
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 25159
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 26647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1057
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 25543
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function AITankSecondWave.drawTankDown 1
push argument 0
pop pointer 0
push this 0
push this 1
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 577
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 2065
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 26599
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3697
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function AITankSecondWave.drawTankLeft 1
push argument 0
pop pointer 0
push this 0
push this 1
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 10880
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 10880
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 27392
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24056
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 25344
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 10880
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 10880
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function AITankSecondWave.drawTankRight 1
push argument 0
pop pointer 0
push this 0
push this 1
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 427
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 427
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 214
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8190
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8122
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 198
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 427
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 427
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 511
call Memory.poke 2
pop temp 0
push constant 0
return
function AITankSecondWave.clearCurrCell 1
push argument 0
pop pointer 0
push this 0
push this 1
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function AITankSecondWave.die 2
push argument 0
pop pointer 0
push pointer 0
call AITankSecondWave.clearCurrCell 1
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
call BattleCityGame.get 0
pop local 0
push local 0
call BattleCityGame.getBoomRenderer 1
pop local 1
push local 1
push this 0
push this 1
call BoomRenderer.registerBoom 3
pop temp 0
push constant 0
return
function AITankSecondWave.init 0
push argument 0
pop pointer 0
push this 0
push constant 1
neg
eq
push this 1
push constant 1
neg
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
not
pop this 7
push argument 1
pop this 2
push argument 2
pop this 8
push argument 3
pop this 9
push pointer 0
call AITankSecondWave.initDirection 1
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
push constant 0
return
function AITankSecondWave.setSpeed 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function AITankSecondWave.getSpeed 0
push argument 0
pop pointer 0
push this 2
return
function AITankSecondWave.setLocation 0
push argument 0
pop pointer 0
push argument 1
push constant 0
push constant 496
call Utils.clampValue 3
pop this 0
push argument 2
push constant 0
push constant 240
call Utils.clampValue 3
pop this 1
push constant 0
return
function AITankSecondWave.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function AITankSecondWave.getX 0
push argument 0
pop pointer 0
push this 0
return
function AITankSecondWave.getY 0
push argument 0
pop pointer 0
push this 1
return
function AITankSecondWave.collideWith 0
push argument 0
pop pointer 0
push argument 1
push this 0
eq
push argument 2
push this 1
eq
and
return
function AITankSecondWave.moveUp 1
push argument 0
pop pointer 0
push this 1
push this 2
sub
pop local 0
push this 3
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 3
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE0
push pointer 0
push this 0
push local 0
call AITankSecondWave.checkCollideWithPlayer 3
not
push pointer 0
push this 0
push local 0
call AITankSecondWave.checkCollideWithBase 3
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call AITankSecondWave.clearCurrCell 1
pop temp 0
push pointer 0
push this 0
push local 0
call AITankSecondWave.setLocation 3
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE1
push constant 0
return
function AITankSecondWave.moveDown 1
push argument 0
pop pointer 0
push this 1
push this 2
add
pop local 0
push this 3
push constant 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 3
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE0
push pointer 0
push this 0
push local 0
call AITankSecondWave.checkCollideWithPlayer 3
not
push pointer 0
push this 0
push local 0
call AITankSecondWave.checkCollideWithBase 3
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call AITankSecondWave.clearCurrCell 1
pop temp 0
push pointer 0
push this 0
push local 0
call AITankSecondWave.setLocation 3
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE1
push constant 0
return
function AITankSecondWave.moveRight 1
push argument 0
pop pointer 0
push this 0
push this 2
add
pop local 0
push this 3
push constant 2
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop this 3
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE0
push pointer 0
push local 0
push this 1
call AITankSecondWave.checkCollideWithPlayer 3
not
push pointer 0
push local 0
push this 1
call AITankSecondWave.checkCollideWithBase 3
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call AITankSecondWave.clearCurrCell 1
pop temp 0
push pointer 0
push local 0
push this 1
call AITankSecondWave.setLocation 3
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE1
push constant 0
return
function AITankSecondWave.moveLeft 1
push argument 0
pop pointer 0
push this 0
push this 2
sub
pop local 0
push this 3
push constant 3
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 3
pop this 3
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE0
push pointer 0
push local 0
push this 1
call AITankSecondWave.checkCollideWithPlayer 3
not
push pointer 0
push local 0
push this 1
call AITankSecondWave.checkCollideWithBase 3
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call AITankSecondWave.clearCurrCell 1
pop temp 0
push pointer 0
push local 0
push this 1
call AITankSecondWave.setLocation 3
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
label IF_FALSE1
push constant 0
return
function AITankSecondWave.checkCollideWithBricks 0
push argument 0
pop pointer 0
push this 6
push argument 1
push argument 2
call BrickRenderer.checkCollideWith 3
push constant 1
neg
eq
not
return
function AITankSecondWave.checkCollideWithBase 2
push argument 0
pop pointer 0
call BattleCityGame.get 0
pop local 0
push local 0
call BattleCityGame.getBaseRenderer 1
pop local 1
push local 1
push argument 1
push argument 2
call BaseRenderer.collideWith 3
return
function AITankSecondWave.render 0
push argument 0
pop pointer 0
push this 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call AITankSecondWave.drawTankUp 1
pop temp 0
goto IF_END0
label IF_FALSE0
push this 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call AITankSecondWave.drawTankDown 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call AITankSecondWave.drawTankRight 1
pop temp 0
goto IF_END2
label IF_FALSE2
push this 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call AITankSecondWave.drawTankLeft 1
pop temp 0
label IF_FALSE3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function AITankSecondWave.notifyBulletDied 0
push argument 0
pop pointer 0
push this 4
push constant 1
sub
push constant 0
push this 5
call Utils.clampValue 3
pop this 4
push constant 0
return
function AITankSecondWave.fire 1
push argument 0
pop pointer 0
call Bullet.new 0
pop local 0
push local 0
push pointer 0
call Bullet.setEnemy 2
pop temp 0
push this 12
push local 0
push this 3
push this 2
push this 0
push this 1
call BulletsRegister.registerBullet 6
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 0
pop this 11
push constant 0
return
function AITankSecondWave.couldShoot 0
push argument 0
pop pointer 0
push this 4
push this 5
lt
return
function AITankSecondWave.getNextX 0
push argument 0
pop pointer 0
push this 3
call Utils.UP 0
eq
push this 3
or
call Utils.DOWN 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
return
goto IF_END0
label IF_FALSE0
push this 3
call Utils.LEFT 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 2
sub
return
goto IF_END1
label IF_FALSE1
push this 0
push this 2
add
return
label IF_END1
label IF_END0
function AITankSecondWave.getNextY 0
push argument 0
pop pointer 0
push this 3
call Utils.LEFT 0
eq
push this 3
or
call Utils.RIGHT 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
return
goto IF_END0
label IF_FALSE0
push this 3
call Utils.UP 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push this 2
sub
return
goto IF_END1
label IF_FALSE1
push this 1
push this 2
add
return
label IF_END1
label IF_END0
function AITankSecondWave.isBoundYTop 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
return
function AITankSecondWave.isBoundYDown 0
push argument 0
pop pointer 0
push this 1
call Utils.getScreenHeight 0
push constant 16
sub
eq
return
function AITankSecondWave.isBoundXLeft 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
return
function AITankSecondWave.isBoundXRight 0
push argument 0
pop pointer 0
push this 0
call Utils.getScreenWidth 0
push constant 16
sub
eq
return
function AITankSecondWave.isPlayerOnPatrolLine 4
push argument 0
pop pointer 0
call BattleCityGame.get 0
pop local 0
push local 0
call BattleCityGame.getPlayer 1
pop local 1
push local 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Player.getX 1
pop local 2
push local 1
call Player.getY 1
pop local 3
push this 8
call AITank.verticalBehaviour 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push local 2
eq
push this 1
push local 3
sub
call Math.abs 1
push pointer 0
call AITankSecondWave.getNextY 1
push local 3
sub
call Math.abs 1
gt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push this 1
push local 3
eq
push this 0
push local 2
sub
call Math.abs 1
push pointer 0
call AITankSecondWave.getNextX 1
push local 2
sub
call Math.abs 1
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_END1
label IF_FALSE0
push constant 0
return
function AITankSecondWave.checkCollideWithPlayer 2
push argument 0
pop pointer 0
call BattleCityGame.get 0
pop local 1
push local 1
call BattleCityGame.getPlayer 1
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push argument 1
push argument 2
call Player.collideWith 3
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function AITankSecondWave.checkCollideWithOtherTeammates 4
push argument 0
pop pointer 0
call BattleCityGame.get 0
pop local 0
push local 0
call BattleCityGame.getAITanks 1
pop local 1
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push local 1
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push local 1
push local 3
call DynamicArray.getIndexValue 2
pop local 2
push local 2
push pointer 0
eq
not
push local 2
push argument 1
push argument 2
call AITank.collideWith 3
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function AITankSecondWave.initDirection 0
push argument 0
pop pointer 0
push this 8
push constant 0
eq
push this 9
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 3
goto IF_END0
label IF_FALSE0
push this 8
push constant 1
eq
push this 9
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
pop this 3
goto IF_END1
label IF_FALSE1
push this 8
push constant 0
eq
push this 9
push constant 1
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 3
goto IF_END2
label IF_FALSE2
push constant 2
pop this 3
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function AITankSecondWave.randomizeTypeAndDir 2
push argument 0
pop pointer 0
push constant 99
pop local 0
push local 0
call Random.randRange 1
pop local 1
push local 1
push constant 0
lt
not
push local 1
push constant 25
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 8
push constant 0
pop this 9
goto IF_END0
label IF_FALSE0
push local 1
push constant 25
lt
not
push local 1
push constant 50
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 8
push constant 0
pop this 9
goto IF_END1
label IF_FALSE1
push local 1
push constant 50
lt
not
push local 1
push constant 75
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 8
push constant 1
pop this 9
goto IF_END2
label IF_FALSE2
push constant 1
pop this 8
push constant 1
pop this 9
label IF_END2
label IF_END1
label IF_END0
push pointer 0
call AITankSecondWave.initDirection 1
pop temp 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
push constant 0
return
function AITankSecondWave.tick 0
push argument 0
pop pointer 0
push pointer 0
call AITankSecondWave.render 1
pop temp 0
push this 7
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 11
push this 10
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 11
push constant 1
add
pop this 11
goto IF_END1
label IF_FALSE1
push pointer 0
call AITankSecondWave.isPlayerOnPatrolLine 1
push pointer 0
call AITankSecondWave.couldShoot 1
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call AITankSecondWave.fire 1
pop temp 0
goto IF_END2
label IF_FALSE2
push this 8
call AITank.verticalBehaviour 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 9
call AITank.startUpDir 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 0
push this 1
push this 2
sub
call AITankSecondWave.checkCollideWithBricks 3
not
push pointer 0
call AITankSecondWave.isBoundYTop 1
not
and
push pointer 0
push this 0
push this 1
push this 2
sub
call AITankSecondWave.checkCollideWithOtherTeammates 3
not
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call AITankSecondWave.moveUp 1
pop temp 0
goto IF_END5
label IF_FALSE5
push pointer 0
call AITankSecondWave.randomizeTypeAndDir 1
pop temp 0
label IF_END5
goto IF_END4
label IF_FALSE4
push this 9
call AITank.startDownDir 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push this 0
push this 1
push this 2
add
call AITankSecondWave.checkCollideWithBricks 3
not
push pointer 0
call AITankSecondWave.isBoundYDown 1
not
and
push pointer 0
push this 0
push this 1
push this 2
add
call AITankSecondWave.checkCollideWithOtherTeammates 3
not
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call AITankSecondWave.moveDown 1
pop temp 0
goto IF_END7
label IF_FALSE7
push pointer 0
call AITankSecondWave.randomizeTypeAndDir 1
pop temp 0
label IF_END7
label IF_FALSE6
label IF_END4
goto IF_END3
label IF_FALSE3
push this 9
call AITank.startLeftDir 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push this 0
push this 2
sub
push this 1
call AITankSecondWave.checkCollideWithBricks 3
not
push pointer 0
call AITankSecondWave.isBoundXLeft 1
not
and
push pointer 0
push this 0
push this 2
sub
push this 1
call AITankSecondWave.checkCollideWithOtherTeammates 3
not
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call AITankSecondWave.moveLeft 1
pop temp 0
goto IF_END9
label IF_FALSE9
push pointer 0
call AITankSecondWave.randomizeTypeAndDir 1
pop temp 0
label IF_END9
goto IF_END8
label IF_FALSE8
push this 9
call AITank.startRightDir 0
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push this 0
push this 2
add
push this 1
call AITankSecondWave.checkCollideWithBricks 3
not
push pointer 0
call AITankSecondWave.isBoundXRight 1
not
and
push pointer 0
push this 0
push this 2
add
push this 1
call AITankSecondWave.checkCollideWithOtherTeammates 3
not
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
call AITankSecondWave.moveRight 1
pop temp 0
goto IF_END11
label IF_FALSE11
push pointer 0
call AITankSecondWave.randomizeTypeAndDir 1
pop temp 0
label IF_END11
label IF_FALSE10
label IF_END8
label IF_END3
label IF_END2
label IF_END1
label IF_FALSE0
push constant 0
return
