function BulletsRegister.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
call DynamicArray.new 0
pop this 0
push this 0
push constant 20
call DynamicArray.reserve 2
pop temp 0
push pointer 0
return
function BulletsRegister.dispose 2
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
call bricks.getSize 0
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call Bullet.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function BulletsRegister.registerBullet 0
push argument 0
pop pointer 0
push argument 4
push argument 3
sub
push constant 0
lt
push argument 2
call Utils.LEFT 0
eq
and
push argument 4
push argument 3
add
call Utils.getScreenWidth 0
push constant 16
sub
gt
push argument 2
call Utils.RIGHT 0
eq
and
or
push argument 5
push argument 3
sub
push constant 0
lt
push argument 2
call Utils.UP 0
eq
and
or
push argument 5
push argument 3
add
call Utils.getScreenHeight 0
push constant 16
sub
gt
push argument 2
call Utils.DOWN 0
eq
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
call Bullet.die 1
pop temp 0
push argument 1
call Bullet.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 0
push argument 1
call DynamicArray.push_back 2
pop temp 0
push argument 2
call Utils.UP 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 4
push argument 5
push argument 3
sub
push argument 2
call Bullet.fireTime 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 2
call Utils.DOWN 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push argument 4
push argument 5
push argument 3
add
push argument 2
call Bullet.fireTime 4
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 2
call Utils.RIGHT 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push argument 4
push argument 3
add
push argument 5
push argument 2
call Bullet.fireTime 4
pop temp 0
goto IF_END3
label IF_FALSE3
push argument 2
call Utils.LEFT 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 1
push argument 4
push argument 3
sub
push argument 5
push argument 2
call Bullet.fireTime 4
pop temp 0
label IF_FALSE4
label IF_END3
label IF_END2
label IF_END1
push constant 0
return
function BulletsRegister.getBullets 0
push argument 0
pop pointer 0
push this 0
return
function BulletsRegister.killBullet 1
push argument 0
pop pointer 0
push this 0
push argument 1
call DynamicArray.getIndexValue 2
pop local 0
push this 0
push argument 1
call DynamicArray.remove 2
pop temp 0
push local 0
call Bullet.clearCurrCell 1
pop temp 0
push local 0
call Bullet.die 1
pop temp 0
push local 0
call Bullet.dispose 1
pop temp 0
push constant 0
return
function BulletsRegister.tick 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call Bullet.isAlive 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
call Bullet.tick 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto IF_END0
label IF_FALSE0
push this 0
push local 0
call DynamicArray.remove 2
pop temp 0
push local 1
call Bullet.dispose 1
pop temp 0
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
