function Teaser.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push pointer 0
call Teaser.initTankTeasers 1
pop temp 0
push constant 240
pop this 1
push constant 80
pop this 2
push constant 1
pop this 3
push constant 5
pop this 5
push constant 1
neg
pop this 4
push constant 25
pop this 7
push constant 1
neg
pop this 6
push constant 20
pop this 9
push constant 1
neg
pop this 8
push pointer 0
return
function Teaser.drawPoint 0
push argument 0
pop pointer 0
push this 3
push constant 1
lt
not
push this 3
push constant 17
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 1
push this 2
call Teaser.drawFill 3
pop temp 0
push this 1
push constant 16
add
pop this 1
push this 3
push constant 4
call Utils.remainder 2
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 240
pop this 1
push this 2
push constant 16
add
pop this 2
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push this 3
push constant 17
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 256
pop this 1
push pointer 0
push this 1
push this 2
call Teaser.drawFill 3
pop temp 0
push this 1
push constant 16
add
pop this 1
goto IF_END2
label IF_FALSE2
push this 3
push constant 18
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push this 1
push this 2
call Teaser.drawFill 3
pop temp 0
push constant 256
pop this 1
push this 2
push constant 16
add
pop this 2
goto IF_END3
label IF_FALSE3
push this 3
push constant 19
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 1
push this 2
call Teaser.drawGunDown 3
pop temp 0
push this 1
push constant 16
add
pop this 1
goto IF_END4
label IF_FALSE4
push pointer 0
push this 1
push this 2
call Teaser.drawGunDown 3
pop temp 0
label IF_END4
label IF_END3
label IF_END2
label IF_END0
push this 3
push constant 1
add
pop this 3
push constant 0
return
function Teaser.createAITankTeaser 1
push argument 0
pop pointer 0
call AITankTeaser.new 0
pop local 0
push local 0
push argument 1
push argument 2
push argument 3
push argument 4
push argument 5
push argument 6
call AITankTeaser.init 7
pop temp 0
push local 0
return
function Teaser.initTankTeasers 2
push argument 0
pop pointer 0
call DynamicArray.new 0
pop this 0
push this 0
push constant 16
call DynamicArray.reserve 2
pop temp 0
push this 0
push pointer 0
push constant 96
push constant 0
call Utils.DOWN 0
push constant 240
push constant 64
call Utils.UP 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 192
push constant 0
call Utils.DOWN 0
push constant 256
push constant 64
call Utils.UP 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 304
push constant 0
call Utils.DOWN 0
push constant 272
push constant 64
call Utils.UP 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 400
push constant 0
call Utils.DOWN 0
push constant 288
push constant 64
call Utils.UP 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 0
push constant 48
call Utils.RIGHT 0
push constant 224
push constant 80
call Utils.LEFT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 0
push constant 96
call Utils.RIGHT 0
push constant 224
push constant 96
call Utils.LEFT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 0
push constant 144
call Utils.RIGHT 0
push constant 224
push constant 112
call Utils.LEFT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 0
push constant 192
call Utils.RIGHT 0
push constant 224
push constant 128
call Utils.LEFT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 496
push constant 48
call Utils.LEFT 0
push constant 304
push constant 80
call Utils.RIGHT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 496
push constant 96
call Utils.LEFT 0
push constant 304
push constant 96
call Utils.RIGHT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 496
push constant 144
call Utils.LEFT 0
push constant 304
push constant 112
call Utils.RIGHT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 496
push constant 192
call Utils.LEFT 0
push constant 304
push constant 128
call Utils.RIGHT 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 96
push constant 240
call Utils.UP 0
push constant 240
push constant 144
call Utils.DOWN 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 192
push constant 240
call Utils.UP 0
push constant 256
push constant 160
call Utils.DOWN 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 304
push constant 240
call Utils.UP 0
push constant 272
push constant 160
call Utils.DOWN 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push this 0
push pointer 0
push constant 400
push constant 240
call Utils.UP 0
push constant 288
push constant 144
call Utils.DOWN 0
call Teaser.createAITankTeaser 7
call DynamicArray.push_back 2
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call AITankTeaser.start 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Teaser.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call AITankTeaser.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call DynamicArray.dispose 1
pop temp 0
push constant 16
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Teaser.allTanksAtPlace 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call AITankTeaser.isCameToPlace 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
function Teaser.drawFill 1
push argument 0
pop pointer 0
push argument 1
push argument 2
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Teaser.drawGunDown 1
push argument 0
pop pointer 0
push argument 1
push argument 2
call Utils.getMemAddress 2
pop local 0
push local 0
push constant 0
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Teaser.ifItsEndTeaserCallBoss 1
push argument 0
pop pointer 0
push this 8
push constant 1
neg
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push this 9
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 8
push constant 1
add
pop this 8
goto IF_END1
label IF_FALSE1
call BattleCityGame.get 0
pop local 0
push local 0
call BattleCityGame.notifyEndTeaser 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Teaser.tick 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 0
call DynamicArray.getSize 1
lt
not
if-goto WHILE_END0
push this 0
push local 0
call DynamicArray.getIndexValue 2
pop local 1
push local 1
call AITankTeaser.tick 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 4
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Teaser.allTanksAtPlace 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 4
label IF_FALSE1
goto IF_END0
label IF_FALSE0
push this 4
push this 5
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
push constant 1
add
pop this 4
goto IF_END2
label IF_FALSE2
push pointer 0
call Teaser.drawPoint 1
pop temp 0
push constant 0
pop this 4
push this 3
push constant 19
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
neg
pop this 4
push constant 0
pop this 6
label IF_FALSE3
label IF_END2
label IF_END0
push this 6
push constant 1
neg
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 6
push this 7
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 6
push constant 1
add
pop this 6
goto IF_END5
label IF_FALSE5
push constant 16
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 72
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
neg
pop this 6
push constant 0
pop this 8
label IF_END5
label IF_FALSE4
push pointer 0
call Teaser.ifItsEndTeaserCallBoss 1
pop temp 0
push constant 0
return
